<div class="main-login main-center">
    <form class="form-horizontal">
        
        <div class="form-group">
            <label for="name" class="cols-sm-2 control-label">Name</label>
            <div class="cols-sm-10">
                <div class="input-group">
                    <span class="input-group-addon"><i class="glyphicon glyphicon-user" aria-hidden="true"></i></span>
                    <input type="text" class="form-control" name="name" id="name"  placeholder="Joe Johnson" required min="2">
                </div>
            </div>
        </div>

        <div class="form-group">
            <label for="username" class="cols-sm-2 control-label">UserName</label>
            <div class="cols-sm-10">
                <div class="input-group">
                    <span class="input-group-addon"><i class="glyphicon glyphicon-screenshot" aria-hidden="true"></i></span>
                    <input type="text" class="form-control" name="username" id="username"  placeholder="SquimishLizzard1392" required min="6">
                </div>
            </div>
        </div>

        <div class="form-group">
            <label for="address" class="cols-sm-2 control-label">Address</label>
            <div class="cols-sm-10">
                <div class="input-group">
                    <span class="input-group-addon"><i class="glyphicon glyphicon-home" aria-hidden="true"></i></span>
                    <input type="text" class="form-control" name="address" id="address"  placeholder="Home address" Residence>
                </div>
            </div>
        </div>

        <div class="form-group">
            <label for="phone" class="cols-sm-2 control-label">Phone Number</label>
            <div class="cols-sm-10">
                <div class="input-group">
                    <span class="input-group-addon"><i class="glyphicon glyphicon-earphone" aria-hidden="true"></i></span>
                    <input type="tel" class="form-control" name="phone" id="phone"  placeholder="(555)-555-5555" required>
                </div>
            </div>
        </div>

        <div class="form-group">
            <label for="email" class="cols-sm-2 control-label">Email</label>
            <div class="cols-sm-10">
                <div class="input-group">
                    <span class="input-group-addon"><i class="glyphicon glyphicon-envelope" aria-hidden="true"></i></span>
                    <input type="email" class="form-control" name="email" id="email"  placeholder="Your Email"/>
                </div>
            </div>
        </div>

        <div class="form-group">
            <label for="mobile" class="cols-sm-2 control-label required">Password</label>
            <div class="cols-sm-10">
                <div class="input-group">
                    <span class="input-group-addon"><i class="glyphicon glyphicon-lock" aria-hidden="true"></i></span>
                    <input type="password" class="form-control" name="name" id="name"  placeholder="Password"/>
                </div>
            </div>
        </div>

        <div class="form-group">
            <label for="platform" class="cols-sm-2 control-label">Platform</label>
            <div class="cols-sm-10">
                <div class="input-group">
                    <span class="input-group-addon"><i class="glyphicon glyphicon-off" aria-hidden="true"></i></span>
                    <select class="form-control" name="platform" id="platform"  placeholder="Please select your Platform">
                    <option>Choose...</option>
                    <option>PC</option>
                    <option>Mobile</option>
                    <option>Nintendo</option>
                    <option>Playstation</option>
                    <option>Xbox</option>
                    </select>
                </div>
            </div>
        </div>

        <div class="form-group ">
            <button type="button" class="btn btn-primary btn-lg btn-block login-button">Submit</button>
        </div>
    </form>
</div>