body, html{
    height: 100%;
    background-repeat: no-repeat;
    background-color: #d3d3d3;
    font-family: 'Oxygen', sans-serif;
    font-size: 20px;
}

.main{
    margin-top: 70px;
}

h1.title { 
   font-size: 50px;
   font-family: 'Passion One', cursive; 
   font-weight: 400; 
}

hr{
   width: 10%;
   color: #fff;
}

.form-group{
   margin-bottom: 15px;
}

label{
   margin-bottom: 14px;
}

input,
input::-webkit-input-placeholder {
   font-size: 12px;
   padding-top: 6px;
}

.main-login{
    background-color: #fff;
   /* shadows and rounded borders */
   -moz-border-radius: 2px;
   -webkit-border-radius: 2px;
   border-radius: 2px;
   -moz-box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
   -webkit-box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
   box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
   background-color: rgba(255, 255, 255, 0.685);

}

.main-center{
    margin-top: 30px;
    margin: 0 auto;
    max-width: 500px;
   padding: 40px 40px;

}

.login-button{
   margin-top: 3px;
}

.login-register{
   font-size: 8px;
   text-align: center;
}

.bg-img {
   background-image: url("https://66.media.tumblr.com/c5d68e3f92b74f875e9eaa71e7afaf72/tumblr_pk86uikJgM1rhk4rn_400.gifv");  
   
   min-height: 1024px;
   min-width: 100px;
   /* Center and scale the image nicely */
   background-position: center;
   background-repeat: no-repeat;
   background-size: cover;
 }

 input:valid {
   background-color: #ddffdd;
 }

 input:invalid {
   border-color: #c00000;
 }