.container-fluid > .navbar-header, .container > .navbar-collapse, .container-fluid > .navbar-collapse {
    margin-right: 10px;
    margin-left: 10px;
}

.container-fluid {
    padding-right: 10px;
    padding-left: 10px;
}

.navbar {
    height: 55px;
    color: #2a4068;
    margin-bottom: 0px;
  }