body, html{
    height: 100%;
    background-repeat: no-repeat;
    background-color: #d3d3d3;
    font-family: 'Oxygen', sans-serif;
   font-size: 15px;
}

.form-signin {
    margin-top: 30px;
    margin: 0 auto;
    max-width: 500px;
    padding: 40px 40px;
    background-color: rgba(255, 255, 255, 0.685);
}

.bg-img {
    background-image: url("https://files01.tchspt.com/articles/wallpapers/retro/13.jpg");  
    
    min-height: 1024px;
    min-width: 100px;
    /* Center and scale the image nicely */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }
  
  